$violet-1: #4436fd;
$violet-2: #7367f0;
$green-1: #28c76f;
$green-2: #91cc75;
$white-1: #ffffff;
$red-1: #ea5455;
$gray-1: #6e6b7b;
$gray-2: #5e5873;
$gray-3: #888888;
$gray-4: #eeeeee;
$gray-5: #dddddd;
$gray-6: #d8d6de;
$gray-7: #f8f8f8;
